spec:
  destination:
    server: https://kubernetes.default.svc

  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
    helm:
      parameters:
      - name: "nginx-ingress.controller.service.annotations.external-dns\\.alpha\\.kubernetes\\.io/hostname"
        value: mydomain.example.com
      - name: "ingress.annotations.kubernetes\\.io/tls-acme"
        value: "true"
        forceString: true